@model ProductDto


<h1>Save Products</h1>
<br />
<form method="POST" asp-controller="Products" asp-action="Save">
    <div class="mb-2">
        <label class="form-label" asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-2">
        <label class="form-label" asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" />
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="mb-2">
        <label class="form-label" asp-for="Stock">Stock</label>
        <input asp-for="Stock" class="form-control" />
        <span class="text-danger" asp-validation-for="Stock"></span>
    </div>
    <div class="mb-2">
        <label class="form-label" asp-for="CategoryId">Category</label>

        <select class="form-select" asp-items="@ViewBag.CategoryDropdown" asp-for="CategoryId">
            <option selected disabled hidden>Select Category</option>
        </select>
        <span class="text-danger" asp-validation-for="CategoryId"></span>
    </div>


    <button class="btn btn-outline-success mt-4">Save Product</button>
</form>